
.banner{
    background-image: url('../../../../../public/images/tour-banner.jpg');
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: overlay;
    background-position:right;
    background-size:cover;
    background-attachment: fixed;

}
.nav-contain{
    background: transparent;
}
.brand{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}