
.nav-contain{
    /* background: transparent; */
    background-color: rgba(0, 0, 0, 0.554);
    /* opacity: .5; */
}
.brand{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}