.user-form{
    width: 340px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 35px 20px;
    background-color: #13232f;
    border: 1px solid black;
    border-radius: 10px;
}
.user-form .submit-btn{
    width: 100%;
    font-size: 22px;
    padding: 10px 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,42,75,1) 100%);    
}
.user-form .submit-btn:hover{
    background: linear-gradient(90deg,  rgba(0, 21, 38, 0.971) 0%, rgba(2,0,36,1) 100%);
}
.line{
    width: 35%;
    padding: 1px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  background-color: #13232f;
  color: rgb(255, 142, 43);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px 0 0 1px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s ease;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #13232f inset !important;
    -webkit-text-fill-color: rgb(255, 142, 43) !important;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: none;
    background-color: #13232f;
    border: none;
    border-bottom: 2px solid #25ebc3;
    color: #25ebc3;
    transition: 0.2s ease;
}